<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cadastro de Usuários</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap-theme.min.css">
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">TIGE-logo</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="cadastro.html">Registro de Usuários</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administrar Usuários <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="adm-usuario.html">Usuários</a></li>
                            <li><a href="adm-tipo-usuario.html">Tipos de usuários</a></li>
                            <li>@Html.ActionLink("Eventos", "Index", "Eventos")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    <footer>
        <center>
            <p style="font-size: 13px;font-family: verdana; color: #000; ">sTIGE - Sistema Tecnológico de Inovação no Gerenciamento de Eventos</p>
            <img src="~/Content/Imagens/tige.png" class="img-rounded" alt="" style="margin-top:2px;" />
        </center>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
